<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>form bind</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="checkbox" id="checkbox" v-model="checked">
		<label for="checkbox">{{checked}}</label>
		<br>
		<br>
		<div>
		  <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
		  <label for="jack">Jack</label>
		  <input type="checkbox" id="john" value="John" v-model="checkedNames">
		  <label for="john">John</label>
		  <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
		  <label for="mike">Mike</label>
		  <br>
		  <span>Checked names: {{ checkedNames }}</span>
		</div>
	</div>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				checked: false,
				checkedNames: []
			}
		})
	</script>
</body>

</html>